*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* border: 1px solid salmon; */
}


html {
    overflow: -moz-hidden-unscrollable;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    height: 100%;
	width: calc(100vw + 18px);
	overflow: auto;
}

.lockscroll{overflow:hidden;}


#logoa{
    display: none;
}

#scrollY{
    position: fixed;
z-index: 1000;
color: aqua;
}

#toolbtn{
    position: fixed;
z-index: 1000;
top:0;
}

.allitemborder{
    outline: 1px solid salmon;
}

body{
--white:#ffff;
font-family: 'Noto Sans TC', sans-serif;
    /* border: 1px solid salmon; */
    /* height: 100%; */
}

.header{
    width: 100%;
    height:10vh;

    /* background-color: rgba(127, 255, 212, 0.372); */

}

.header-scroll{
    z-index: 2;
    position: fixed;
    /* transition: 0.5s ease-in; */
    animation:fadeInDown 0.3s ease 0s 1 both;
    border-radius: 30px;
    top:0;
}
.header-in{
    display: flex;
    height: 100%;
    background-color: rgba(245, 192, 68);
    justify-content: space-between;
    align-items:center;
    padding: 0% 5% 0% 5% ;
}
.logo{
    width:100px;
    height:50px;
    animation:fadeInLeft 1s ease 0s 1 both;
}

.logo img{
width: 100%;
height: 100%;
object-fit: cover;
}
nav{
    height: 100%;
}
.menu{
    width:100%;
    height: 100%;
    margin-right:35vw;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    animation: fadeInUp 1s ease 0s 1 both;
    /* padding:1% 0 0 0 */
    
    
}

.menu ul{
    display: flex;
    justify-content:space-around;

}

.menu li{
    display: inline-block;
    margin-right:30px;

}
.menu a{
    color: black;
}
.menu a:hover{
    color:rgb(255, 255, 255);
}

 
.feature{
    display: flex;
    width: 10%;
    text-align: center;
    justify-content: space-around;
    align-items:center;
    animation: fadeInUp 1s ease 0s 1 both;
    /* align-items:center */
}


.center{
position: relative;
height:80vh;
}

/* mvbox影片 */

.mvbox{
position: relative;
height: 90vh;
z-index: 1;
display: flex;
justify-content: center;
align-items: center;
margin:2px auto 10px auto;
}


.movie{
    height: 100%;
    width: 100%;
    /* position: absolute; */
    z-index: 1;
}

video{
height:inherit;
width: 100%;
object-fit: cover;
mix-blend-mode: screen;
z-index: 1;
}

.mvbox p{
    display: inline-block;
    text-align: center;
    height: 35%;
    min-width: 100%;
    z-index: 2;
    font-size: 50px;
    font-weight: 450;
    color: rgba(255, 255, 255, 0.924);
position: absolute;
}
/* 強調文字 */
.mvbox p strong{
position: relative;
    /* text-decoration: underline rgba(255, 166, 0, 0.615) solid; */
font-weight:500;
color: rgb(248, 220, 63);
}
/* 強調文字中的偽元素 */
strong::after
    {
        content: '';
        width: 100%;
        height: 10px;
        background-color: #f5c044a5;
        position: absolute;
        bottom: 20px;
        left: -1px;
}


/* inner-box */
.inner-box{
    width: 100%;
    height:120vh;
    display: none;
    /* background-color:aqua; */
    opacity: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 0;
    background: url(./producr_bg.png);
    /* animation: fadeInUp 1s ease 0s 1 both; */
    
}
.inner-h1{
    position: relative;
    margin: 1%;
    
    animation: fadeInUp 1s ease 0s 1 both;
}

.inner-box::before{
    box-sizing: border-box;
    content: '';
    width: 30vw;
    height: 30vh;
    background: url(./h01.png);
    position:absolute;
    right:65vw;
    top:0;
z-index: 1;
background-size:contain;
background-repeat: no-repeat;
animation:bounceInLeft 1s ease 0s 1 both;
}


.tiny-box-1,.tiny-box-2{
    display: flex;
    justify-content: center;
position: relative;
}



.tiny-box-2::after{
    box-sizing: border-box;
    content: '';
    width: 25vw;
    height: 20vh;
    background: url(./ser-r.png);
    position:absolute;
    right:-5%;
    top:-25%;
z-index: 1;
opacity: 1;
background-size:contain;
background-repeat: no-repeat;
}


.tiny-item{
    width: 30vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    animation:fadeInUp 1s ease 0s 1 both;
    padding-left: 1%;
    
}

.tiny-item div {
  width: 5vw;
  height: 10vh;  
}
.tiny-item div img {
    width: 100%;
    height: 100%;
}
.tiny-item p{
    position: relative;
}
.funn:after{
    content: '';
    position: absolute;
    width: 1px;
    background: rgb(169 125 66 / 0.15);
    bottom:3px ;
    height: 72px;
    right: 0;
}



/* Food BOX */
.foodbox{
        position: relative;
        height: auto;
        width: 100%;
        /* background-color: cadetblue; */
        flex-direction: column;
        opacity: 0;
        animation: fadin 1.5s;
}

.foodbox-1{
    display: flex;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    align-items:center;
    /* background: #e0e0e0; */
    justify-content: center;
    opacity: 0;
    animation: fadin 1.5s;

}
.foodimg-1{
    opacity: 0;
    width: 35vw;
    height: 50vh;
    border-radius: 30px;
 /* background: #e0e0e0; */
 box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #d1d1d1;
             margin-right: 1%;
             cursor: pointer;
             object-fit: contain;   
             margin-left: 2%;
}

.foodimg-1:hover , .foodimg-2:hover,.foodimg-3:hover{
    position: relative;
    animation-name: float;    /*動畫名稱，需與 keyframe 名稱對應*/
    animation-duration: 1s;    /*動畫持續時間，單位為秒*/
    /* animation-delay: 2s;    動畫延遲開始時間 */
    animation-iteration-count: infinite;    /*動畫次數，infinite 為無限次*/  
}

.foodimg-1 img{
    display: none;
    width: 100%;
    height: 100%;
    /* opacity: 0; */
    animation:bounceInLeft 1s ease 0s 1 both;
}
.foodtext-1{
    display: none;
    flex-direction: column;
    width: auto;
    height: auto;
    /* background-color: #fff; */
    border-radius: 15px;
    /* opacity: 0; */
    animation:bounceInRight 1s ease 0s 1 both;
}

.foodbox-2{
    display: flex;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    align-items:center;
    justify-content: center;
    opacity: 0;
    animation: fadin 1.5s;

}
.foodimg-2{
    width: 35vw;
    height: 50vh;
    object-fit: contain;   
    margin-left: 2%;
    border-radius: 30px;
    /* background: #e0e0e0; */
    box-shadow: 15px 15px 30px #bebebe,
                -15px -15px 30px #d1d1d1;
                margin-left: 1%;
                cursor: pointer;  
                margin-right: 2%;
opacity: 0;
}

.foodimg-2 img{
    width: 100%;
    height: 100%;
    display: none;
    animation:bounceInRight 1s ease 0s 1 both;
}
.foodtext-2{
    width: auto;
    height: auto;
    /* background-color: #fff; */
    border-radius: 15px;
    display: none;
    animation:bounceInLeft 1s ease 0s 1 both;
    display: flex;
    flex-direction: column;
}




.foodbox-3{
    display: flex;
    opacity: 0;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    align-items:center;
    justify-content: center;
    animation: fadin 1.5s;
}
.foodimg-3{
    width: 35vw;
    opacity:0;
    height: 50vh;
    border-radius: 30px;
    /* background: #e0e0e0; */
    box-shadow: 15px 15px 30px #bebebe,-15px -15px 30px #ffffff;
    margin-right: 1%;
    cursor: pointer;
    object-fit: contain;   
    margin-left: 2%;
}

.foodimg-3 img{
    width: 100%;
    height: 100%;
    display: none;
    animation:bounceInLeft 1s ease 0s 1 both;
}
.foodtext-3{
    width: auto;
    height: auto;
    /* background-color: #fff; */
    border-radius: 15px;
    display: none;
    animation:bounceInRight 1s ease 0s 1 both;
    flex-direction: column;
}


.eat-show{
    display: flex;
    cursor: pointer;
    height: auto;
    width: 100vw;
    justify-content: center;
    margin-top: 5%;
    opacity: 0;
    animation: fadeIn 2s ease 0s 1 both;
}

.eat-show div{

    width:30%;
    height: 60vh;
    position: relative;
    animation: fadeIn 1s ease 0s 1 both;

}

.eat-show div img{
    width: 100%;
    height: 100%;

   
}

.info-container{
    width: 100%;
    height: 70vh;
    display:flex;


}

.info{
    background-color: rgba(246, 246, 246, 0.767);
    border:1px #fff solid;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.info img{
    height: 10vh;
    width: 5vw;
    margin-bottom: 2%;
    margin-left: 1%;
}

.info h1{
    font-family: 'Noto Sans TC', sans-serif;
    margin-bottom: 2%;
    margin-left: 1%;
}

.info h2{
    width: 90%;
    font-family: 'Noto Sans TC', sans-serif;
    margin-bottom: 2%;
    margin-left: 1%;
    padding-bottom: 2%;
    border-bottom: 2px rgb(168, 168, 168) solid;
}

.info ul{
    
    width: 90%;

}
.info ul li{
    margin: 20px auto;
}
.info-pic{
    width: 100%;
    height: 100%;
    background-color: yellowgreen;
}
.center{
    background-image: url(./bg.jpeg);
    height: auto;
}

/*  評論滑塊 */

.review-warp{
    width: 100%;
    height: 100%;
    background-color: cadetblue;
}

.swiper{
    width: 50%;
    height:50vh;
    margin-top: 5%;
    margin-bottom: 10%;
    /* display: none; */
    opacity: 1;
    animation: bounceIn 2s ease 0s 1 both;
    /* background-color: brown; */
}


.warp-box{
    width: 100%;
    height:100%;
    background-color: burlywood;
    justify-content: space-around;
}

.review-box{
    background-color: rgb(99, 42, 165);
    width: 100%;
    height: 100%;
    
}

.review-top{
    padding: 25px 55px;
    height: 35vh;
    background-color: aliceblue;
    position: relative;
    display: flex;
    align-items: center;
    /* overflow:auto; */
}

.review-top::after{
    content: "";
    display: block;
    width: 5%;
    height: 10%;
    background-color: aliceblue;
    position: absolute;
    transform: scaleX(.75) rotate(45deg);
    -ms-transform: scaleX(.75) rotate(45deg);
    transform: scaleX(.75) rotate(45deg);
    border-width: 0;
    box-sizing: content-box;
    /* top:162px;
    left:120px; */
    
    bottom: -3.5%;
left: 20%;
}

.review-bottom{
    background-color:rgb(0, 0, 0);
    display: flex;
    align-items: center;
justify-content: center;
height: 15vh;
}
.elementor-testimonial__image{
    width: 50px;
    height: 50px;
margin-right: 0;

}
.elementor-testimonial__image>img{
    width: 100%;
    height: 100%;
}
.elementor-testimonial__cite{
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    /* background-color: rgb(225, 154, 0); */
    padding-left:2% ;
   
}
.elementor-testimonial__name{
    width: 100%;
    display: block;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: large;
    font-weight: 500;
}

.elementor-testimonial__title{
    width: 50%;
    display: block;
    background-color: rgb(8, 7, 7);
    color: rgb(181, 181, 181);
    font-weight: 100;
    font-size: 1%;
    
    
}

.swiper-wrapper{
  width: 100%;

}

/*  評論滑塊結束 */






/* footer 底部區域  */
.bottom{
    /* display: none; */
    height:100%;
    background-color: #bebebe;
    opacity: 0;
    animation: fadeIn 2s ease 0s 1 both;
}

.footerwarp{
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-around;
}

.footerbox-1{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    /* justify-content: end; */
}

.footer-in-1{
    
    margin-left: 10%;
    
}
.footer-in-1 h1 {
    margin-bottom: 5%;
    
}


.footer-in-1 p{
    margin-bottom: 5%;
}


.footer-in-1 li{
    margin: 6%;
    list-style: none;
    list-style-type: none;
}
.footerbox-2{
    width: 35%;
    margin-top: 1%;
}
.footer-in-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
 
    /* padding: 10%; */
 
}

.footer-in-2 p{
    width: 100%;
}
.footer-in-2 ul{
    width: 100%;
}
.footer-in-2 li{
padding: 1%;
margin: 3%;
   list-style: none;
}


.cta {
    border: none;
    background: none;
  }

  
  .cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size:medium;
    padding-right: 15px;
    text-transform: uppercase;
  }
  
  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active svg {
    transform: scale(0.5);
  }
  
  .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 5px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .f-email{
font-size:2%;
}

.footerbox-3{
    width: 30%;
}

.footerbox-3 ul{
    display: flex;
    
}
.footerbox-3 li{
    margin: 5%;
    font-size:3vw;
    list-style: none;
}

.footerbox-3 li:hover ,.fa-phone:hover ,.fa-bag-shopping:hover{
    color: #fff;
    cursor:pointer;
}
.f-email {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    cursor:pointer;
  }
  
  .f-email .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .f-email:hover .tooltiptext {
    visibility: visible;
    cursor:pointer;
  }



  .animate__animated.animate__zoomIn ,
  .animate__animated.animate__zoomOut{
    --animate-duration: 0.3s;
    
  }


  .modal {
    position:fixed;
    top: 10%;
    left:35%;
    /* transform: translate(-50%, -50%) scale(0); */
     /* transition: 200ms ease-in-out; */
    /* border: 1px solid black; */
    border-radius: 10px;
    z-index: 10%;
    width: 25%;
    max-width: 80%;
   background: #ffffff;
   box-shadow: 10px 19px 36px 0px rgba(0,0,0,0.63);
   /* opacity: 0; */
   opacity: 0;
  }

  .modal-body {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    
  } 
  
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid black;  */
  
  }
  
  .title{
    font-size: 35px;
    font-weight: bold;
  }

  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 3rem;
    font-weight: bold;
  }

  .close-button:hover{
    color: #c5c2c2;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    pointer-events: none;
    /* opacity: 0; */
    z-index: 9;
    opacity: 0;
  }
  
  #food-modal-1,#food-modal-2,#food-modal-3, #food-modal-4,#food-modal-5,#food-modal-6{
    display: none;
  }
 

  .modalswiper
  {
    --swiper-navigation-color:rgb(40, 40, 40);
  }
.modalimg{
    width: 100%;
    height: 100%;
}



.smodalswiper{
    width: 100%;
    height:10%;
    margin-top: 5%;
    margin-bottom: 10%;

    /* background-color: brown; */
}

 /* .eatshow img{
    transition: all  1s;
    
}  */
.eat-show div img:hover{
    position: relative;
    cursor: pointer;
     /* animation 參數設定 */
     animation-name: float;    /*動畫名稱，需與 keyframe 名稱對應*/
     animation-duration: 1s;    /*動畫持續時間，單位為秒*/
     /* animation-delay: 2s;    動畫延遲開始時間 */
     animation-iteration-count: infinite;    /*動畫次數，infinite 為無限次*/  
     
}
@keyframes float {
    0% {bottom:0;}
    50%{bottom: 10px;}
    100%{bottom:0;}

}

@keyframes fadin{
    0%{opacity: 0;}
    100%{opacity: 1;}
}






.topbtn {
    cursor: pointer;
    display: none;
    position: fixed;
    right:0;
    bottom: 0;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #ffc400db;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    border: #004dff;
    transition: 0.5s;
    animation: jackInTheBox 1s;
  }
  
  .topbtn:hover {
    transform: scale(1.5);
  }
  
  .topbtn:active {
    background-color: #d10202a3;

  }
  
  .arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35%;
    margin-bottom: 60%;
    border-bottom: 15px solid white;
  }

  #fire{
    position: absolute;
    left:20px;
    bottom:0;
    transform:rotate(180deg);
  }




  
  .progress-bar {
    display: none;
    position:fixed;
    right:50px;
    bottom:5px;
    background: #5b5b5b;
    width: 40px;
    height: 100%;
  }

  .progress-bar::before {
    /* display: none; */
    content: '';
    border-right: dashed 5px  rgb(251, 255, 0);
    position:absolute;
    right:17px;
    bottom:5px;
    width: 40px;
    
    height: 100%;
  }

  .wwfood h1,.wwfood h2,.wwfood p{
    margin: 2%;
  }
  
#btmtel:link
{
    color: #000000;
}

li a ,#btmtel:link ,#btmloc:visited
{
    color: #000000;
}

li a:hover{
    color: #fff;
}





